.main {
  display: flex;
  flex-direction: column;
  text-align: left;
  font-size: 12px;
  flex: 1;
}
header {
  display: flex;
  flex-direction: column;
  height: 27rem;
}

.navbar {
  display: flex;
  border-radius: 1.25rem;
  flex-direction: row;
  justify-content: space-between;
  background-image: url("../../assets/img/BgSignUp.png");
  height: 18rem;
}

.navbar--content {
  width: 100%;
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.navbar__bg {
  margin-top: -64px;
  width: calc(100% - (32px * 2));
  margin-left: 32px;

  background: linear-gradient(
    112.83deg,
    rgba(255, 255, 255, 0.82) 0%,
    rgba(255, 255, 255, 0.8) 110.84%
  );
  backdrop-filter: blur(21px);

  border: 1.5px solid #ffffff;
  box-shadow: 0px 2px 5.5px rgba(0, 0, 0, 0.02);
  border-radius: 15px;
  padding: 25px 30px;
}

.actions {
  width: 50%;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  color: white;
}

.user {
  display: flex;
  font-size: 16px;
}

.user span {
  margin-left: 5px;
  font-size: 12px;
  font-weight: 700;
}

.notification .gear {
  font-size: 16px;
}
.read {
  display: flex;
  flex-direction: column;
  margin-top: 23px;
  margin-left: 23px;
  color: white;
  font-size: 1rem;
  font-weight: bold;
}

.readcrumb {
  display: flex;
  flex-direction: column;
  font-family: Helvetica;
  font-size: 12px;
  font-weight: 400;
  line-height: 18px;
}

.profile {
  display: flex;
  z-index: 1;
}

.profile__logo{
  position: relative;
}

.box-pencil {
  width: 26px;
  height: 26px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;

  position: absolute;
  bottom: 0;
  right: 0;

  background: #FFFFFF;
    box-shadow: 0px 2px 5.5px rgba(0, 0, 0, 0.06);
    border-radius: 8px;
}

.profile__info {
  margin-left: 15px;
  display: flex;
  flex-direction: column;
  font-family: Helvetica;
}
.profile__info h2 {
  text-transform: uppercase;
  font-size: 18px;
  font-weight: 700;
  line-height: 25px;
  letter-spacing: 0em;
  color: #2d3748;
}

.profile__info span {
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
  letter-spacing: 0em;
  color: #718096;
}
.initial {
  display: flex;
  align-items: center;
  margin-left: auto;
}

.circle {
  width: 18px;
  height: 18px;
  border-radius: 50%;
  border: 1px solid #a0aec0;
}

.initial span {
  font-size: 14px;
  font-weight: 700;
  padding: 10px;
  color: #2d3748;
}

.balance-info {
  width: 100%;
  display: flex;
  flex-flow: row wrap;
  gap: 15px;
  justify-content: flex-start;
}

.performace {
  width: 100%;
  display: flex;
  flex-flow: row wrap;
  gap: 15px;
  justify-content: flex-start;
}

.performace--chart {
  width: 360px;
}

.limit {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  justifblacky-content: space-between;
  height: 321px;
  width: 240px;
  border-radius: 15px;
  background: #ffffff;
  box-shadow: 0px 3.4px 5.5px 0px #00000005;
  padding: 15px;
}

.limit__values {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-bottom: 15px;
}

.money {
  width: 99px;
  height: 64px;
  background: #ebcc86;
  box-shadow: 0px 3.5px 5.5px rgba(0, 0, 0, 0.02);
  border-radius: 12px;

  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 20px;
}

.risco {
  background: #f4a0a0;
}

.liquidez {
  background: #c4c4c4;
}

.table {
  width: 100%;
  overflow-x: auto;
}
.table h2 {
  font-size: 14px;
  font-weight: bold;
}

section .historico {
  width: calc(100% - (100px * 2));
  margin-left: 100px;
}

.historico {
  margin-top: 44px;
  margin-bottom: 14px;
  height: 40px;
  background-color: #1fab89;
  border-radius: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 8px;
}

.date {
  display: flex;
}

.calendar {
  margin-left: 50px;
  display: flex;
  align-items: center;
}
.calendar--icon {
  color: white;
  margin-right: 10px;
  font-size: 1.5rem;
}

.button {
  display: flex;
  align-items: center;
  border: 1px solid #ffffff;
  box-sizing: border-box;
  border-radius: 15px;
  padding: 3px 15px;
  font-size: 14px;
  color: white;
  font-weight: bold;
  margin-right: 12px;
}

.button span {
  margin-right: 5px;
}

.pie {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.pie h2 {
  font-size: 18px;
  font-weight: bold;
}

.pie span {
  color: #a0aec0;
  font-family: Helvetica;
  font-size: 14px;
  font-weight: 700;
  line-height: 21px;
  margin-bottom: 14px;
}

.restrict {
  display: flex;
  justify-content: center;
  font-size: 18px;
  font-weight: 700;
  line-height: 25px;
  text-align: center;
}

.input-text > Input:focus {
  background-color: white;
}

.analyzer {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.update {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: center;
  font-size: 0.9rem;
  color: #CCD2E3;
}

footer{
  font-size: 0.75rem;
  color: #A0AEC0;
}