.siderbar {
    width: 304px;
    min-height: 100vh;
    padding: 15px;
    text-align: left;
    font-size: 12px;
}

.siderbar section {
    margin-left: 25px;
}

.siderbar section h4 {
    text-transform: uppercase;
    font-weight: bold;
    margin-bottom: 16px;

}
.siderbar__logo {
    width: 171px;
}

.conta-section {
    margin-top: 61px;
}